<% if(success){%>
<h3 class="container"><%= success%></h3>
<%}%>
<% if(error){%>
<h3 class="container"><%= error%></h3>
<%}%>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</html>